<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--<target name="console" xsi:type="Console" />-->

    <!-- write logs to file -->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/Logs/${level:uppercase=false}/${shortdate}.txt" maxArchiveFiles="30000"
              layout="${longdate} | ${message} ${newline}${onexception:${exception:format=tostring} ${newline}${stacktrace} ${newline}" />
    </target>

    <!-- write log message to database -->
    <target name="db" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target type="Database" dbProvider="mssql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EFinance;Persist Security Info=True;User ID=sa;Password=123456;">

        <commandText>
          INSERT INTO Log(Timestamp,Level,Message,Action,Amount,StackTrace) VALUES(@time_stamp, @level, @message, @action, @amount, @stacktrace);
        </commandText>

        <!-- database connection parameters -->
        <parameter name="@time_stamp" layout="${date}" />
        <parameter name="@level" layout="${level:uppercase=true}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@action" layout="${event-context:item=Action}" />
        <parameter name="@amount" layout="${event-context:item=Amount}" />
        <parameter name="@stacktrace" layout="${stacktrace}" />
      </target>
    </target>

  </targets>
  <rules>
    <!--<logger name="*" minlevel="Debug" writeTo="console" />-->

    <!-- Trace|Debug|Info|Warn|Error|Fatal -->
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="file" />

    <!--<logger name="*" minlevel="Info" writeTo="db" />-->
  </rules>
</nlog>